/*  Logo  */

.logo {
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.page-header__logo {
  color: $primary-black-color;
}
.page-footer__logo {
  color: $primary-white-color;
  display: inline-block;
  margin-bottom: 20px;
}
