.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $timing-foo;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}
